* {
    padding: 0;
    margin: 0;
}

/* Images must not mess with flex boxes or grids */
img {
    max-width: 100%;
    max-height: 100%;
}

/* Push the header to the top, footer to the bottom */

html, body {
    height: 100%;
}

body {
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Let the nav be at most 64 pixels tall */

header {
    background-color: lightblue;
}

header nav {
    margin: 0 auto;
    width: 75%;
    height: 96px;
    display: flex;
    align-items: center;
}

header nav a {
    height: 100%;
    width: 100%;

    color: black;
    font-size: 1.2em;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a:hover {
    background-color: rgb(121, 199, 225);
}

/* Let main take up all the flex space, be 90% wide, centered */

main {
    height: 100%;
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* MILK PAGE: Arrange the description and milks */

#desc {
    padding: 2em;
    font-size: x-large;
}

#milks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 16px;
    gap: 16px;
}

.milk {
    padding: 16px;
    border: 2px dashed black;
    background-color: azure;
    text-align: center;
}

.milk:hover {
    background-color: rgb(210, 255, 255);
}