/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: lightblue;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 96px;
}

header nav a {
    height: 100%;
    width: 100%;

    color: black;
    font-size: 1.2em;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo img {
    max-height: 100px;
    margin-right: 20px; 
    justify-items: left;
}

nav .nav-links {
    display: flex;
    margin: 20px;
    flex-grow: 1.5;
}

nav .nav-links a {
    color: white;
    margin: 20px;
}

header nav a:hover {
    background-color: rgb(121, 199, 225);
}

/* Main Section */
main {
    padding: 20px;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

.content-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

.content-block.reverse {
    grid: row-reverse;
}

.image-container {
    width: 100%;
    padding: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.text-container {
    width: 100%;
    padding: 10px;
}

.text-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.social-links {
    margin-top: 10px;
}

.social-links p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-block {
        flex-direction: column;
        align-items: center;
    }

    .image-container, .text-container {
        width: 100%;
        padding: 15px;
    }

    nav .nav-links {
        flex-direction: column;
        align-items: center;
    }

    nav .nav-links a {
        margin: 10px 0;
    }
}



/* MILK PAGE: Arrange the description and milks */

#desc {
    padding: 2em;
    font-size: x-large;
}

#milks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 16px;
    gap: 16px;
}

.milk {
    padding: 16px;
    border: 2px dashed black;
    background-color: azure;
    text-align: center;
}

.milk:hover {
    background-color: rgb(210, 255, 255);
}
